.header {
  width: 100%;
  padding: 15px 20px;
  background: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accountDropdown {
  display: flex;
  align-items: center;
}

.accountDropdownIcon {
  margin-right: 10px;
  color: "#333"
}

.account {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 8px 12px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  transition: background 0.3s ease;
  min-width: 100px;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.account:hover {
  background: rgba(0, 0, 0, 0.1);
}

.txt {
  flex: 1;
}

.right {
  display: flex;
  align-items: center;
}

.network {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 8px 12px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  transition: background 0.3s ease;
}

.network:hover {
  background: rgba(0, 0, 0, 0.1);
}