.header {
  padding: 16px ;
  background-color: #f2f2f2;
  text-align: center;
  justify-content: left;
  align-items: center;
  display: flex;
  .network{
    padding: 4px 10px;
    color: white;
    font-size: .9rem;
    background-color: cornflowerblue;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .txt{
      margin-left: 6px;
    }
  }
  .accountD{
    margin-left: 10px;
    margin-right: 20px;
    flex: 1;
  }
  .account{
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-all;
    .arrow{
      margin-left: 6px;
    }
  }
  .address{
    font-size: 0.8rem;
    word-break:break-all;
  }
}