
.contentPage {
  width: 100%;
  height: 100%;
  .balance {
    padding-top: 26px;
    padding-bottom: 16px;
    font-size: 2.8rem;
    font-weight: bold;
    font-family: "Geist", sans-serif;
    text-align: center;
  }
  .btns {
    display: flex;
    justify-content: center;
  }
  .btnD {
    margin: 0 12px;
    text-align: center;
  }
  .btn {
    margin-bottom: 6px;
    padding: 12px;
    color:white;
    border-radius: 24px;
    background-color: cornflowerblue;
  }
  .txt {
    font-size: 0.8rem;
  }
}
.popup {
  --min-width: 500px;
}