.page {
  padding: 100px 40px;
  text-align: center;
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  background: #f2f2f2;

  .title {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .input {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px 20px;
    background: #fff;
  }

  .note {
    margin-top: 8px;
    font-size: 0.8rem;
    font-weight: bold;
    color: rgb(229, 87, 44);
    text-align: left;
  }

  .btnD {
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
  }

  .btn {
    width: 100%;
    padding: 10px;
  }
}