.info {
  margin: 16px;
  padding: 18px;
  border: 1px solid #bbb;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .titleD{
    width: 100px;
  }
  .title {
    font-size: 1rem;
    font-weight: bold;
  }
  .greyTxt{
    color: #999;
  }
  .list{
    flex: 1;
    text-align: right;
    .bold{
      font-size: .9rem;
      font-weight: bold;
      margin-bottom: 4px;
    }
    .txt{
      font-size: .85rem;
      margin-bottom: 4px;
    }
  }
}