.itemD {
  padding: 6px 20px;

  .time {
    color: #333;
    font-size: 0.85rem;
    margin-bottom: 4px;
  }

  .item {
    flex-direction: row;
    flex-direction: row;
    display: flex;
    justify-content: space-between;

    .type {
      color: #333;
      font-weight: bold;
      font-size: 1rem;
    }

    .status {
      font-size: 0.9rem;
      color: #6a2
    }

    .amount {
      font-weight: bold;
      font-size: 1rem;
    }

    .gas {
      color: #999;
      font-size: 0.85rem;
    }
  }
}