.itemD {
  padding: 6px 20px;

  .time {
    color: #333;
    font-size: 0.85rem;
    margin-bottom: 4px;
  }

  .item {
    flex-direction: row;
    flex-direction: row;
    display: flex;
    justify-content: space-between;

    .type {
      color: #333;
      font-weight: bold;
      font-size: 1rem;
    }

    .statusSuccess {
      font-size: 0.9rem;
      color: #6a2
    }
    .statusFail {
      font-size: 0.9rem;
      color: rgb(252, 5, 5)
    }
    .statusPending {
      font-size: 0.9rem;
      color: rgb(146, 76, 48)
    }

    .amount {
      font-weight: bold;
      font-size: 1rem;
    }

    .gas {
      color: #999;
      font-size: 0.85rem;
    }
  }
}