.page {
  padding: 100px 40px;
  text-align: center;
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  .icon {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .title {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .content {
    .url {
      font-size: 0.9rem;
      font-weight: bold;
      color: rgb(34, 34, 248);
      margin-bottom: 6px;
    }

    .name {
      font-size: 0.9rem;
      font-weight: bold;
      color: #333;
    }

  }
  .note {
    margin-top: 32px;
    font-size: 0.8rem;
    font-weight: bold;
    color: rgb(229, 87, 44)
  }

  .btnD {
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
  }

  .btn {
    width: 50%;
    padding: 10px;
  }
}