.content {
  padding: 20px;
  .account {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
    padding: 20px;
    font-size: 0.8rem;
  }
  .btnD {
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
  }
  .btn {
    width: 50%;
    padding: 10px;
  }
}